html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.main-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 5fr;
}
.header {
  background-color: aliceblue;
  grid-row: 1/2;
}
.main-content {
  grid-row: 2/-1;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.read {
  background-color: green;
  color: white;
}
.not-read {
  background-color: red;
  color: white;
}
